body {
  color: #000;
}
#header {
    margin-top: 50px;
    margin-bottom: 60px;
}
#main-navigation li {
    float: left;
    margin-right: 30px;
}
#main-navigation li a {
    font-family: 'Myriad Pro';
    font-size: 18px;
    color: #000;
    text-decoration: none;
}
.slider {
  margin-bottom: 60px;
}
h2 {
  font-size: 48px;
  margin: 15px 0;
}
p {
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 21px;
}
.btn {
  background-color: #032a5e;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 20px 30px;
  display: inline-block;
  transition: background-color .5s ease-out;
}
.btn:hover {
  background-color: red;
}
.form-section {
  margin-top: 100px;
  margin-bottom: 40px;
}
.form-input {
  border: 1px solid #032a5e;
  width: 100%;
  padding: 10px 5px;
  font-size: 24px;
}
.input {
  margin-bottom: 25px;
}
.form-btn {
  font-size: 18px;
  padding: 20px 40px;
  color: #fff;
  background-color: #032a5e;
  transition: background-color 1.5s linear;
}
.form-btn:hover {
  cursor: pointer;
  background-color: red;
}
